.table-container {
    margin: 50px auto 0;
    max-width: 80%;
    padding: 20px;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

.table-container .rdt_TableCell {
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .table-container {
        max-width: 90%; /* Adjust maximum width for smaller screens */
    }

    .table-container .rdt_TableCell {
        font-size: 14px; /* Decrease font size for smaller screens */
    }
}


.chart-container {
    background: rgb(239, 211, 239);
  height: 400px;
}